@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.container {
    padding: 96px 0;
}

.row {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 1200px;
}

a {
    text-decoration: none;
}

/* 
NAVIGATION

*/

#navigation {
    background-image: url("./resources/istockphoto-477110708-1024x1024.jpg");
}

.nav__row {
    display: flex;
    justify-content: space-between;
}

.site__title {
    color: white;
    font-size: 28px;
}

.nav__img {
    height: 40px;
    margin: 12px;
}

.top__left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav__links {
    display: flex;
    align-items: flex-start;
}

.nav__link {
    color: white;
    padding: 12px;
    transition: all 300ms ease;
}

.nav__link:hover {
    text-decoration: underline;
}

/* 
WEATHER 
*/

.weather__query {
    position: relative;
    display: flex;
}

.weather__input {
    padding: 24px 48px;
    border-radius: 20px;
}

.weather__button{
    padding: 20px;
    border-radius: 20px;
}