@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: lightgrey;
}

.container {
    padding: 96px 0;
}

.row {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 1200px;
}

a {
    text-decoration: none;
}

p {
    padding: 2px;
}

/* 
NAVIGATION

*/

#navigation {
    background-image: url("./resources/istockphoto-477110708-1024x1024.jpg");
}

.nav__row {
    display: flex;
    justify-content: space-between;
}

.site__title {
    color: white;
    font-size: 28px;
}

.nav__img {
    height: 40px;
    margin: 12px;
}

.top__left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav__links {
    display: flex;
    align-items: flex-start;
}

.nav__link {
    color: black;
    padding: 12px;
    transition: all 300ms ease;
    font-size: 32px;
}

.nav__link:hover {
    text-decoration: underline;
}

/* 
WEATHER 
*/



.weather__input {
    padding: 24px 48px;
    border-radius: 20px;
    width: 80%;
}

.weather__button{
    padding: 20px;
    border-radius: 20px;
}

.weather__list {
    margin: 32px 0;
}

.weather__current, .weather__past, .weather__range {
    margin: 50px 0;
}

.weather__range{
    display: flex;
    flex-wrap: wrap;
}

.weather__card {
    border: solid;
    background-color: #b0beea;
    margin: 24px 12px;
    padding: 12px;
    width: 20%;
    box-shadow: 2px 4px;
    border-radius: 5%;
    transition: all 300ms ease;
}

.weather__card:hover {
    transform: scale(1.05);
    transform: translateX(-2%);
    background-color: white;
}

@media (max-width: 850px){

    .weather__card{
        width: 30%;
    }
}

@media (max-width: 720px){
    .weather__card{
        width: 45%;
    }
}

@media (max-width: 480px){
    .weather__card{
        width: 90%;
    }
}